@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev {
  color: white !important; 
}

.swiper-button-next {
  color: white !important; 
}

.swiper-pagination-bullet {
  background-color: white !important;
}